@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url("./botao.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.7%;
    font-family: "Montserrat", sans-serif;
}

body{
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #9600ff, #AEBAF8);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dark-mode{
    background: linear-gradient(180deg, #634835 0, #624230 10%, #603b2b 20%, #5f3227 30%, #5c2923 40%, #591f1f 50%, #55131d 60%, #52051c 70%, #4e001c 80%, #49001e 90%, #440020 100%);;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.container{
    background: white;
    width: 60vw;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

main h2{
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
}

.container h2::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 50px;
    bottom: 0px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(45deg, #9600ff, #AEBAF8);
}

form{
    display: flex;
    flex-direction: column;
}

.input-field{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

form .input-field:first-child{
    margin-top: 0.5rem;
}

form .input-field{
    margin-bottom: 1.5rem;
}

input{
    border: none;
}

.input-field input{
    outline: none;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.7);
}

.input-field .underline::before{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.input-field .underline::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: linear-gradient(45deg, #9600ff, #AEBAF8);
    transform: scaleX(0);
    transform-origin: left;
}

.input-field input:focus ~ .underline::after{
    transform: scaleX(1);
}

.input-field input::placeholder{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
}

form input[type="submit"]{
    margin-top: 1rem;
    padding: 0.4rem;
    background: linear-gradient(to left, #c22ed0, #5ffae0);
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
}

form input[type="submit"].dark-mode{
    margin-top: 1rem;
    padding: 0.4rem;
    background: linear-gradient(to left, #634835, #440020);
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
}

form input[type="submit"]:hover{
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #c22ed0, #5ffae0);
}

form input[type="submit"].dark-mode:hover{
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #634835, #440020);
}

div label{
    padding-bottom: 0.5rem
}

label{
    font-size: 1rem;
}

/* BREAKPOINT IPHONE SE */

@media(max-width:375px){
    main.container{
        background: white;
        width: 60vw;
        max-height: auto;
        padding: 2rem;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
    }
}

/* BREAKPOINT IPHONE XR */
@media(max-width:414px){
    main.container{
        background: white;
        width: 75vw;
        max-height: auto;
        padding: 2rem;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
    }
}

/* BREAKPOINT IPAD*/
@media(max-width:820px){
    main.container{
        background: white;
        width: 70vw;
        max-height: auto;
        padding: 2rem;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
    }
}
