@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html{
    font-size: 62.7%;
}

body{
    background: linear-gradient(45deg, #9600ff, #AEBAF8);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.container{
    background: white;
    width: 35vw;
    max-height: auto;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

main h2{
    font-weight: 600;
    margin-bottom: 1rem;
    position: relative;
}

.container h2::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 25px;
    bottom: 0px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(45deg, #9600ff, #AEBAF8);
}

form{
    display: flex;
    flex-direction: column;
}

.input-field{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

form .input-field:first-child{
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
}

form .input-field{
    margin-bottom: 1.5rem;
}

input{
    border: none;
}

.input-field input{
    outline: none;
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.7);
}

input:-webkit-autofill {
    font-size: 0.7rem;
  }

.input-field .underline::before{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.input-field .underline::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: linear-gradient(45deg, #9600ff, #AEBAF8);
    transform: scaleX(0);
    transform-origin: left;
}

.input-field input:focus ~ .underline::after{
    transform: scaleX(1);
}

.input-field input::placeholder{
    color: rgba(0, 0, 0, 0.5);
}

form input[type="submit"]{
    margin-top: 1rem;
    padding: 0.4rem;
    background: linear-gradient(to left, #c22ed0, #5ffae0);
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
}

form input[type="submit"]:hover{
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #c22ed0, #5ffae0);
}
